.advantages_section
  .container
    h4.carousel_header_text.text_agency
      span Provide Package
    h3.carousel_text_advantage
      span Convenience
    .carousel.wow.bounceInUp(data-wow-offset='20', data-wow-duration='3s')
      .carousel_item
        .carousel_item_image
          img(src='images/Forma1.svg', alt='Hotel Facilities')
        h6.carousel_item_header
          span Hotel Facilities
        p.carousel_item_text
          | you are going to use a passage of Lorem Ipsum, you need to be there isn't anything embarrassing hidden in the middle of text avaible
      .carousel_item
        .carousel_item_image
          img(src='images/Forma2.svg', alt='Tourist Guide')
        h6.carousel_item_header
          span Tourist Guide
        p.carousel_item_text
          | you are going to use a passage of Lorem Ipsum, you need to be there isn't anything embarrassing hidden in the middle of text avaible
      .carousel_item
        .carousel_item_image
          img(src='images/Forma3.svg', alt='Air Ticket')
        h6.carousel_item_header
          span Air Ticket
        p.carousel_item_text
          | you are going to use a passage of Lorem Ipsum, you need to be there isn't anything embarrassing hidden in the middle of text avaible
      .carousel_item
        .carousel_item_image
          img(src='images/Forma3.svg', alt='Air Ticket')
        h6.carousel_item_header
          span Air Ticket
        p.carousel_item_text
          | you are going to use a passage of Lorem Ipsum, you need to be there isn't anything embarrassing hidden in the middle of text avaible
    h4.carousel_header_text.text_agency We Take Best Care
    h3.carousel_text_advantage Why Choose Us?
    .advantages.wow.bounceInUp(data-wow-offset='20', data-wow-duration='3s')
      .advantage_item
        h5.advantage_name Unlimited Room Available.
        p.advantage_text
          | Accusamus et iusto odio bolo dignissimos  ducimus qui lawer blandits praesentium Accus amus et iusto odio bol Accus amus et iusto odio bol .
      .advantage_item
        h5.advantage_name Air / Bus Ticket Provide By Us.
        p.advantage_text
          | Accusamus et iusto odio bolo dignissimos  ducimus qui lawer blandits praesentium Accus amus et iusto odio bol Accus amus et iusto odio bol .
    .advantages
      .advantage_item
        h5.advantage_name Custome Packege Available.
        p.advantage_text
          | Accusamus et iusto odio bolo dignissimos  ducimus qui lawer blandits praesentium Accus amus et iusto odio bol Accus amus et iusto odio bol .
      .advantage_item
        h5.advantage_name 100% Safe and Luxury Journey.
        p.advantage_text
          | Accusamus et iusto odio bolo dignissimos  ducimus qui lawer blandits praesentium Accus amus et iusto odio bol Accus amus et iusto odio bol .
