.advantages_section
  .container
    h4.carousel__header
      span Provide Package
    h3.carousel__text
      span Convenience
    .carousel.wow.bounceInUp(data-wow-offset='20', data-wow-duration='2s')
      .carousel__item
        .carousel-item__image
          img(src='images/Forma1.svg', alt='Hotel Facilities')
        h6.carousel-item__header
          span Hotel Facilities
        p.carousel-item__text
          | you are going to use a passage of Lorem Ipsum, you need to be there isn't anything embarrassing hidden in the middle of text avaible
      .carousel__item
        .carousel-item__image
          img(src='images/Forma2.svg', alt='Tourist Guide')
        h6.carousel-item__header
          span Tourist Guide
        p.carousel-item__text
          | you are going to use a passage of Lorem Ipsum, you need to be there isn't anything embarrassing hidden in the middle of text avaible
      .carousel__item
        .carousel-item__image
          img(src='images/Forma3.svg', alt='Air Ticket')
        h6.carousel-item__header
          span Air Ticket
        p.carousel-item__text
          | you are going to use a passage of Lorem Ipsum, you need to be there isn't anything embarrassing hidden in the middle of text avaible
      .carousel__item
        .carousel-item__image
          img(src='images/Forma3.svg', alt='Air Ticket')
        h6.carousel-item__header
          span Air Ticket
        p.carousel-item__text
          | you are going to use a passage of Lorem Ipsum, you need to be there isn't anything embarrassing hidden in the middle of text avaible
    h4.carousel__header We Take Best Care
    h3.carousel__text Why Choose Us?
    .advantages
      .advantage__item
        h5.advantage-item__name Unlimited Room Available.
        p.advantage-item__text
          | Accusamus et iusto odio bolo dignissimos  ducimus qui lawer blandits praesentium Accus amus et iusto odio bol Accus amus et iusto odio bol .
      .advantage__item
        h5.advantage-item__name Air / Bus Ticket Provide By Us.
        p.advantage-item__text
          | Accusamus et iusto odio bolo dignissimos  ducimus qui lawer blandits praesentium Accus amus et iusto odio bol Accus amus et iusto odio bol .
    .advantages
      .advantage__item
        h5.advantage-item__name Custome Packege Available.
        p.advantage-item__text
          | Accusamus et iusto odio bolo dignissimos  ducimus qui lawer blandits praesentium Accus amus et iusto odio bol Accus amus et iusto odio bol .
      .advantage__item
        h5.advantage-item__name 100% Safe and Luxury Journey.
        p.advantage-item__text
          | Accusamus et iusto odio bolo dignissimos  ducimus qui lawer blandits praesentium Accus amus et iusto odio bol Accus amus et iusto odio bol .
