.container.agency_description
  h4.text_agency
    | Our Agency
  h3.text_trip
    | Feature Trip
  p.text_description
    | Accusamus et iusto odio bolo
    br
    |       dignissimos ducimus qui lawer
    br
    |  blandits praesentium Accus
    br
    |  amus et iusto odio bolo atque
    br
    |       volup tatum delenite.
  a.btn_booking(href='#') Book now
.top(dir='rtl')
  .topCity
    .topCity_img
      img(src='images/London.png', alt='London')
    h3.topCity_header
      | London, England
    hr
    .topCity_rating
      div
        span Rating :
        i.fa.fa-star(aria-hidden='true')
        i.fa.fa-star(aria-hidden='true')
        i.fa.fa-star(aria-hidden='true')
        i.fa.fa-star(aria-hidden='true')
        i.fa.fa-star-half(aria-hidden='true')
      a.btn_discover(href='#') Discover
  .topCity
    .topCity_img
      img(src='images/dubai.png', alt='Dubai')
    h3.topCity_header
      | Dubai, UAE
    hr
    .topCity_rating
      div
        span Rating :
        i.fa.fa-star(aria-hidden='true')
        i.fa.fa-star(aria-hidden='true')
        i.fa.fa-star(aria-hidden='true')
        i.fa.fa-star(aria-hidden='true')
        i.fa.fa-star(aria-hidden='true')
      a.btn_discover(href='#') Discover
  .topCity
    .topCity_img
      img(src='images/bern.png', alt='Bern')
    h3.topCity_header
      | Bern, Switzerland
    hr
    .topCity_rating
      div
        span Rating :
        i.fa.fa-star(aria-hidden='true')
        i.fa.fa-star(aria-hidden='true')
        i.fa.fa-star(aria-hidden='true')
        i.fa.fa-star(aria-hidden='true')
        i.fa.fa-star-half(aria-hidden='true')
      a.btn_discover(href='#') Discover
