.container.agency-description
  h4.agency-description__header
    | Our Agency
  h3.agency-description__trip
    | Feature Trip
  p.agency-description__text
    | Accusamus et iusto odio bolo
    br
    |       dignissimos ducimus qui lawer
    br
    |  blandits praesentium Accus
    br
    |  amus et iusto odio bolo atque
    br
    |       volup tatum delenite.
  a.btn-booking(href='#') Book now
.top__slider(dir='rtl')
  .top__item
    .top-item__img
      img(src='images/London.png', alt='London')
    h3.top-item__header
      | London, England
    hr
    .top-item__rating(dir='ltr')
      div
        span Rating :
        i.fa.fa-star(aria-hidden='true')
        i.fa.fa-star(aria-hidden='true')
        i.fa.fa-star(aria-hidden='true')
        i.fa.fa-star(aria-hidden='true')
        i.fa.fa-star-half(aria-hidden='true')
      a.btn-discover(href='#') Discover
  .top__item
    .top-item__img
      img(src='images/dubai.png', alt='Dubai')
    h3.top-item__header
      | Dubai, UAE
    hr
    .top-item__rating(dir='ltr')
      div
        span Rating :
        i.fa.fa-star(aria-hidden='true')
        i.fa.fa-star(aria-hidden='true')
        i.fa.fa-star(aria-hidden='true')
        i.fa.fa-star(aria-hidden='true')
        i.fa.fa-star(aria-hidden='true')
      a.btn-discover(href='#') Discover
  .top__item
    .top-item__img
      img(src='images/bern.png', alt='Bern')
    h3.top-item__header
      | Bern, Switzerland
    hr
    .top-item__rating(dir='ltr')
      div
        span Rating :
        i.fa.fa-star(aria-hidden='true')
        i.fa.fa-star(aria-hidden='true')
        i.fa.fa-star(aria-hidden='true')
        i.fa.fa-star(aria-hidden='true')
        i.fa.fa-star-half(aria-hidden='true')
      a.btn-discover(href='#') Discover
