.app.wow.bounceInUp(data-wow-offset='20', data-wow-duration='2s')
  .container
    .app_download
      h3 Download Our Offical Apps
      p
        | Pleasure and praising pain was born and I will give you a complete 
        br
        |  account of the system, human happiness Pleasure and praising pain 
        br
        |  was born and I will give you an account know that
      .app_buttons
        button.btn_booking
          i.fab.fa-android
          |  Available in 
          br
          | Play Store
        button.btn_booking
          i.fab.fa-apple
          |  Available in 
          br
          | APPLE ISo
