.best-place__section
  .container
    .places__header
      h4 Our Agency Provide Worldwide
      h3 Best Tourist Place
      p
        | Pleasure and praising pain was born and I will give you a complete account of the system,
        br
        |  human happiness no oncauwho do not know that.
    .places.wow.bounceInUp(data-wow-offset='10', data-wow-duration='2s')
      .places__item
        .places-item__img
          img(src='images/bestTour_1.png', alt='Europe')
        .places-item__text
          h6 Europe (12 Countries)
          p
            span.fa  
            | 							Belgium. 
            span.fa  
            |    Germany. 
            span.fa  
            |    Spain. 
            br
            span.fa  
            |  Ireland. 
            span.fa  
            |    France.  
            span.fa  
            |  Iceland. 
            br
            span.fa  
            | 							Switzerland.  
            span.fa  
            |  Denmark.    
            br
            span.fa  
            | 							Italy.  
            span.fa  
            |   Netherlands. 
            span
      .places__item
        .places-item__img
          img(src='images/bestTour_2.png', alt='Asia')
        .places-item__text
          h6 Asia (10 Countries)
          p
            span.fa  
            | 							Bsngladesh. 
            span.fa  
            |  India.
            span.fa  
            |    Singapore. 
            br
            span.fa  
            | 							Nepal.  
            span.fa  
            |   Malaysia. 
            span.fa  
            |    Pakistan. 
            br
            span.fa  
            | 							Philippines. 
            span.fa  
            |    Myanmar. 
            span.fa  
            |    Indonesia. 
            br
            span.fa  
            | 							Timor-Leste. 
            span.fa  
            |    United Arab Emirates.
      .places__item
        .places-item__img
          img(src='images/bestTour_3.png', alt='Australia')
        .places-item__text
          h6 Australia (9 Countries)
          p
            span.fa  
            | 							Australia. 
            span.fa  
            |    Cook Islands. 
            span.fa  
            |   Fiji. 
            br
            span.fa  
            | 							American Samoa. 
            span.fa  
            |   Howland Island. 
            br
            span.fa  
            | 							Nauru. 
            span.fa  
            |    Norfolk Island.  
            span.fa  
            |   Croatia. 
            br
            | 							Northern Mariana Islands.
      .places__item
        .places-item__img
          img(src='images/bestTour_4.png', alt='Africa')
        .places-item__text
          h6 Africa (12 Countries)
          p
            span.fa  
            | 							Tunisia. 
            span.fa  
            |    Ghana. 
            span.fa  
            |    Uganda. 
            br
            span.fa  
            | 							Ivory Coast.
            span.fa  
            |     Botswana.    Chad. 
            br
            span.fa  
            | 							Mauritius. 
            span.fa  
            |    Mauritania.    Swaziland. 
            br
            span.fa  
            | 							Gambia. 
            span.fa  
            |    Djibouti. 
            span.fa  
            |    Nigeria.
      .places__item
        .places-item__img
          img(src='images/bestTour_5.png', alt='Namerica')
        .places-item__text
          h6 N. America (10 Countries)
          p
            span.fa  
            | 							United States.   
            span.fa  
            |  Canada. 
            span.fa  
            |    Mexico. 
            br
            span.fa  
            |  Cuba.  
            span.fa  
            |   Guatemala.  
            span.fa  
            |   Panama. 
            br
            span.fa  
            |   Nicaragua.  
            span.fa  
            |   The Bahamas. 
            span.fa  
            |    Belize. 
            br
            span.fa  
            | 							Antigua and Barbuda.
      .places__item
        .places-item__img
          img(src='images/bestTour_6.png', alt='Samerica')
        .places-item__text
          h6 S. America (11 Countries)
          p
            span.fa  
            | 							Argentina. 
            span.fa  
            |  Chile.  
            span.fa  
            |   Bolivia. 
            br
            span.fa  
            | 							Brazil.  
            span.fa  
            |   Colombia.   
            span.fa  
            |  Costa Rica. 
            br
            span.fa  
            | 							Guatemala. 
            span.fa  
            |    Peru. 
            span.fa  
            |    Venezuela. 
            br
            span.fa  
            | 							Paraguay.  
            span.fa  
            |   Uruguay.
