.blog__section
  .container
    h4 Our Agency
    h3 Latest Blog
    .blog.wow.bounceInUp(data-wow-offset='10', data-wow-duration='2s')
      .blog__item
        .blog-item__img.blog-item__img-1
        .blog-item__text
          h6 Always free from repetition.
          p
            | Pleasure and praising pain was born will 
            br
            |  give you a complete account of the 
            br
            |  complete account of the .
          .blog-item__text_date
            span.fa  
            p 25 Dec 18
            span.fa   
            p 4:15 PM
      .blog__item
        .blog-item__img.blog-item__img-2
        .blog-item__text
          h6 Comes from a line in section.
          p
            | Pleasure and praising pain was born will 
            br
            |  give you a complete account of the 
            br
            |  complete account of the .
          .blog-item__text_date
            span.fa  
            p 22 Dec 18
            span.fa   
            p 10:15 PM
      .blog__item
        .blog-item__img.blog-item__img-3
        .blog-item__text
          h6 Fugiat quo voluptas all pariatur?
          p
            | Pleasure and praising pain was born will 
            br
            |  give you a complete account of the 
            br
            |  complete account of the .
          .blog-item__text_date
            span.fa  
            p 21 Dec 18
            span.fa   
            p 12:00 PM
      .blog__item
        .blog-item__img.blog-item__img-4
        .blog-item__text
          h6 Praesentium voluptatum deleniti
          p
            | Pleasure and praising pain was born will 
            br
            |  give you a complete account of the 
            br
            |  complete account of the .
          .blog-item__text_date
            span.fa  
            p 20 Dec 18
            span.fa   
            p 6:45 PM
    button.btn-booking
      | See All 
      span.fa 
