.contacts
  .container
    .contacts__elements
      .contacts__address
        include logo

        p
          | Pleasure and praising pain was born and I will give you a 
          br
          |  complete account of the system, human happiness 
          br
          |  Pleasure and praising pain was born and I will give you an 
          br
          | account know that.
        .contacts__telephone
          p
            span.fa  
            | +9685 4157-60
          p
            span.fa    
            | 419/ Summer Streen Los Angeles, CA 9001/
        p.contacts__website
          | Other Website : 
          span www.mocconet.com
      .contacts__links
        p.contacts__header Useful links
        ul
          li
            a(href='#') Home
          li
            a(href='#') About
          li
            a(href='#') Tour
          li
            a(href='#') Hotels
          li
            a(href='#') Blog
          li
            a(href='#') FAQ
          li
            a(href='#') Contact
      .contacts__sites
        p.contacts__header Follow us
        ul
          li
            a(href='#')
              span.fab 
              | Facebook
          li
            a(href='#')
              span.fab 
              | Twitter
          li
            a(href='#')
              span.fab 
              | Instagram
          li
            a(href='#')
              span.fab 
              | Linkedlin
          li
            a(href='#')
              span.fab 
              | Google+
          li
            a(href='#')
              span.fab 
              | Youtube
          li
            a(href='#')
              span.fab 
              | Pinterest
      .contacts__insta
        .contacts__image
          p.contacts__header Instagram
          img(src='images/insta1.png', alt='instagram')
          img(src='images/insta2.png', alt='instagram')
          img(src='images/insta3.png', alt='instagram')
          br
          img(src='images/insta4.png', alt='instagram')
          img(src='images/insta5.png', alt='instagram')
          img(src='images/insta6.png', alt='instagram')
        .contacts__search
          form
            input(type='search', placeholder='Quick Search')
            button(type='submit')
              span.fa 
