.feedback_section
  .container
    .videoTour
      img(src='images/video_tour_play.svg', alt='Play')
      span Video Tour
    .feedbacks
      h4 Tour Memorial Histroy
      h3 Client Feedback
      .feedbacks_slider
        .feedbacks_slider_item-photo
          .feedbacks_slider_item-img.person_1
        .feedbacks_slider_item-photo
          .feedbacks_slider_item-img.person_2
        .feedbacks_slider_item-photo
          .feedbacks_slider_item-img.person_3
      .feedbacks_slider_text
        .slider_text_item
          p.fa.fa_rewiew 
          p
            | Pleasure and praising pain was born and I will give you a 
            br
            | complete account of the system, human happiness Pleasure 
            br
            |  and praising pain was born and I will give you a 
            br
            | complete account of the  no oncauwho do not know that.
          .author
            .author_name
              h6 Dee C. Mendez
              span Graphic Designer
            img(src='images/slash.svg', alt='/')
            .author_raiting
              h6 Personal Rating :
              span.fa      
        .slider_text_item
          p.fa.fa_rewiew 
          p
            | Pleasure and praising pain was born and I will give you a 
            br
            | complete account of the system, human happiness Pleasure 
            br
            |  and praising pain was born and I will give you a 
            br
            | complete account of the  no oncauwho do not know that.
          .author
            .author_name
              h6 Antony Mendez
              span Programmer
            img(src='images/slash.svg', alt='/')
            .author_raiting
              h6 Personal Rating :
              span.fa      
        .slider_text_item
          p.fa.fa_rewiew 
          p
            | Pleasure and praising pain was born and I will give you a 
            br
            | complete account of the system, human happiness Pleasure 
            br
            |  and praising pain was born and I will give you a 
            br
            | complete account of the  no oncauwho do not know that.
          .author
            .author_name
              h6 Alice Scott
              span HR Manager
            img(src='images/slash.svg', alt='/')
            .author_raiting
              h6 Personal Rating :
              span.fa      
