doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Travel agency
    link(rel='stylesheet', href='css/libs.min.css')
    link(rel='stylesheet', href='css/main_section.css')
    link(rel='stylesheet', href='css/fonts.css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Poppins:400,600,700|Roboto:400,500,700', rel='stylesheet')

  body
    include header_section
    include agency_description
    include advantage_section
    include top-tours_section
    include best-place_section
    include pluces_section
    include feedback_section
    include blog_section
    include app_section
    include partners_section
    include subscribing_section
    include message_section
    include contacts_section
    include footer
    script(src='js/libs.min.js')
    script(src='js/slider.js')
    script(src='js/common.js')
