doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Travel agency
    link(rel='stylesheet', href='css/libs.min.css')
    link(rel='stylesheet', href='css/reset.css')
    link(rel='stylesheet', href='css/fonts.css')
    link(rel='stylesheet', href='css/style.css')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700|Montserrat:400,600,700|Poppins:400,600,700|Roboto:400,500,700', rel='stylesheet')

  body
    include header_section
    include agency_description
    include advantage_section
    include top-tours_section
    include best-place_section
    include pluses_section
    include feedback_section
    include blog_section
    include app_section
    include partners_section
    include message_section
    include contacts_section
    include footer
    script(src='js/libs.min.js')
    script(src='js/slider.js')
    script(src='js/common.js')
