.title
  h4.tittle_header
    | World Best Travell Agency
  h3.tittle_discount
    | Save Upto 40% For Upcoming Summer
  h3.tittle_start
    | Starts From $250 Only   ( 2 Days, 3 Nights)
  a.btn_booking(href='#')
    | Explore Now
    i.fa.fa-sort-down.fa-rotate-270(aria-hidden='true')