.title
  h4.title__header
    | World Best Travell Agency
  h3.title__discount
    | Save Upto 40% For Upcoming Summer
  h3.title__start
    | Starts From $250 Only   ( 2 Days, 3 Nights)
  a.btn-booking_big(href='#')
    | Explore Now
    i.fa.fa-sort-down.fa-rotate-270(aria-hidden='true')