.menu
  ul
    li
      a.menu_link(href='#') Home
    li
      a.menu_link(href='#') About
    li
      a.menu_link(href='#')
        | Tour 
        i.fa.fa-sort-down(aria-hidden='true')
    li
      a.menu_link(href='#')
        | Hotels 
        i.fa.fa-sort-down(aria-hidden='true')
    li
      a.menu_link(href='#') Blog
    li
      a.menu_link(href='#') Contacts 
    li
      a.menu_link.menu_link_search(href='#')
        i.fa.fa-search
    li
      a.btn_booking(href='#') Book now