.menu
  ul
    li
      a.menu__link(href='#') Home
    li
      a.menu__link(href='#') About
    li
      a.menu__link(href='#')
        | Tour 
        i.fa.fa-sort-down(aria-hidden='true')
    li
      a.menu__link(href='#')
        | Hotels 
        i.fa.fa-sort-down(aria-hidden='true')
    li
      a.menu__link(href='#') Blog
    li
      a.menu__link(href='#') Contacts 
    li
      a.menu__link.menu__link_search(href='#')
        i.fa.fa-search
    li
      a.btn-booking(href='#') Book now