.subscribing
  .container.subscribing__elements
    .subscribing__text
      h3 Subscribe Our NewsLetter
      p
        | Pleasure and praising pain was born and I will give you a complete account of the system, human happiness Pleasure and praising pain was born and I will give you an account know that.
    .subscribing__input
      form
        input(type='text', placeholder='Enter Email Address')
        button(type='submit')
          i.fa 
.messsage__section
  h4 We are ready to help you
  h3 Your Message
  .container
    .message.wow.bounceInUp(data-wow-offset='10', data-wow-duration='2s')
      .message__author
        input(type='text', placeholder='Your Full Name')
        input(type='text', placeholder='Address Here')
        input(type='text', placeholder='Email / Phone Number')
      .message__text
        textarea(placeholder='Your Message')
        input.btn-discover(type='submit', value='Submitted')
