.messsage_section
  h4 We are ready to help you
  h3 Your Message
  .container
    .message.wow.bounceInUp(data-wow-offset='20', data-wow-duration='3s')
      .message_autor
        input(type='text', placeholder='Your Full Name')
        input(type='text', placeholder='Address Here')
        input(type='text', placeholder='Email / Phone Number')
      .message_text
        textarea(placeholder='Your Message')
        input.btn_discover(type='submit', value='Submitted')
