.partners
  .container
    h4 Our Agency
    h3 Branding Partner
    .partners_elements
      .partners_item
        img(src='images/partner_1.png', alt='Partner')
      .partners_item
        img(src='images/partner_2.png', alt='Partner')
      .partners_item
        img(src='images/partner_3.png', alt='Partner')
      .partners_item
        img(src='images/partner_4.png', alt='Partner')
      .partners_item
        img(src='images/partner_5.png', alt='Partner')
