.pluses_section
  .container.pluses
    .pluses_item
      .pluses_item_icon.fa 
      .pluses_item_text
        h3 2580+
        p Happy Client
    .pluses_item
      .pluses_item_icon.fa 
      .pluses_item_text
        h3 1880+
        p Online Member
    .pluses_item
      .pluses_item_icon.fa 
      .pluses_item_text
        h3 2212+
        p Complete Tour
    .pluses_item
      .pluses_item_icon.fa 
      .pluses_item_text
        h3 250+
        p Award Winning
