.pluses__section
  .container.pluses
    .pluses__item
      .pluses-item_icon.fa 
      .pluses-item_text
        h3 2580+
        p Happy Client
    .pluses__item
      .pluses-item_icon.fa 
      .pluses-item_text
        h3 1880+
        p Online Member
    .pluses__item
      .pluses-item_icon.fa 
      .pluses-item_text
        h3 2212+
        p Complete Tour
    .pluses__item
      .pluses-item_icon.fa 
      .pluses-item_text
        h3 250+
        p Award Winning
