.topTours_section
  h4 Our Agency Provide
  h3 Top Tour Packege
  .slider
    .slider_item
      .slider_item_img.img_1
        .slider_item_img-transport
          span.fa.fa_plane 
          | By Air
      .slider_item_content
        .slider_item_text
          h3 Katmundu, Nepal
          p Accusamus et iustoAccusamus et iusto odio bolo odio bolodigti odio ball atque.
        .slider_item_price
          .oldPrice $454
          h5 $350
          .slider_item_date
            div
              span.pinkStar *
              | 2 Day
            div 3 Night
      hr
      .topCity_rating
        div
          span Rating :
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
        .topCity_reviews
          span 5+ Review
        a.btn_discover(href='#') Book Now
    .slider_item
      .slider_item_img.img_2
        .slider_item_img-transport
          span.fa.fa_plane 
          | By Air
      .slider_item_content
        .slider_item_text
          h3 Dubai, UAE
          p Accusamus et iustoAccusamus et iusto odio bolo odio bolodigti odio ball atque.
        .slider_item_price
          .oldPrice $800
          h5 $500
          .slider_item_date
            div
              span.pinkStar *
              | 3 Day
            div 4 Night
      hr
      .topCity_rating
        div
          span Rating :
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
        .topCity_reviews
          span 5+ Review
        a.btn_discover(href='#') Book Now
    .slider_item
      .slider_item_img.img_3
        .slider_item_img-transport
          span.fa  
          |  By Road
      .slider_item_content
        .slider_item_text
          h3 Katmundu, Nepal
          p Accusamus et iustoAccusamus et iusto odio bolo odio bolodigti odio ball atque.
        .slider_item_price
          .oldPrice $800
          h5 $500
          .slider_item_date
            div
              span.pinkStar *
              | 3 Day
            div 4 Night
      hr
      .topCity_rating
        div
          span Rating :
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
        .topCity_reviews
          span 5+ Review
        a.btn_discover(href='#') Book Now
    .slider_item
      .slider_item_img.img_4
        .slider_item_img-transport
          span.fa.fa_plane 
          | By Air
      .slider_item_content
        .slider_item_text
          h3 Burn, Slovenia
          p Accusamus et iustoAccusamus et iusto odio bolo odio bolodigti odio ball atque.
        .slider_item_price
          .oldPrice $499
          h5 $400
          .slider_item_date
            div
              span.pinkStar *
              | 2 Day
            div 3 Night
      hr
      .topCity_rating
        div
          span Rating :
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
        .topCity_reviews
          span 5+ Review
        a.btn_discover(href='#') Book Now
    .slider_item
      .slider_item_img.img_5
        .slider_item_img-transport
          span.fa.fa_plane 
          | By Air
      .slider_item_content
        .slider_item_text
          h3 Katmundu, Nepal
          p Accusamus et iustoAccusamus et iusto odio bolo odio bolodigti odio ball atque.
        .slider_item_price
          .oldPrice $800
          h5 $500
          .slider_item_date
            div
              span.pinkStar *
              | 3 Day
            div 4 Night
      hr
      .topCity_rating
        div
          span Rating :
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
        .topCity_reviews
          span 5+ Review
        a.btn_discover(href='#') Book Now
  .container
    .searchTour
      h3 Custome PaCkege
      .searchTour_form
        form
          input(type='text', placeholder='Location')
          input.check_in(type='date', name='trip', min='2018-01-01')
          input.check_out(type='date', name='trip', min='2018-01-01')
          select(name='people')
            option(selected='') People
            option 1
            option 2
            option 3
            option 4
            option 5
            option 6
            option 7
            option 8
            option 9
            option 10
          button(type='submit') Book Now
