.tours__section
  h4 Our Agency Provide
  h3 Top Tour Packege
  .slider
    .slider__item
      .slider-item__img.img_1
        .slider-item__img_transport
          span.fa.fa_plane 
          | By Air
      .slider-item__content
        .slider-item__text
          h3 Katmundu, Nepal
          p Accusamus et iustoAccusamus et iusto odio bolo odio bolodigti odio ball atque.
        .slider-item__price
          .old-price $454
          h5 $350
          .slider-item__date
            div
              span.red-star *
              | 2 Day
            div 3 Night
      hr
      .top-item__rating
        div
          span Rating :
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
        .top__reviews
          span 5+ Review
        a.btn-discover(href='#') Book Now
    .slider__item
      .slider-item__img.img_2
        .slider-item__img_transport
          span.fa.fa_plane 
          | By Air
      .slider-item__content
        .slider-item__text
          h3 Dubai, UAE
          p Accusamus et iustoAccusamus et iusto odio bolo odio bolodigti odio ball atque.
        .slider-item__price
          .old-price $800
          h5 $500
          .slider-item__date
            div
              span.red-star *
              | 3 Day
            div 4 Night
      hr
      .top-item__rating
        div
          span Rating :
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
        .top__reviews
          span 5+ Review
        a.btn-discover(href='#') Book Now
    .slider__item
      .slider-item__img.img_3
        .slider-item__img_transport
          span.fa  
          |  By Road
      .slider-item__content
        .slider-item__text
          h3 Katmundu, Nepal
          p Accusamus et iustoAccusamus et iusto odio bolo odio bolodigti odio ball atque.
        .slider-item__price
          .old-price $800
          h5 $500
          .slider-item__date
            div
              span.red-star *
              | 3 Day
            div 4 Night
      hr
      .top-item__rating
        div
          span Rating :
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
        .top__reviews
          span 5+ Review
        a.btn-discover(href='#') Book Now
    .slider__item
      .slider-item__img.img_4
        .slider-item__img_transport
          span.fa.fa_plane 
          | By Air
      .slider-item__content
        .slider-item__text
          h3 Burn, Slovenia
          p Accusamus et iustoAccusamus et iusto odio bolo odio bolodigti odio ball atque.
        .slider-item__price
          .old-price $499
          h5 $400
          .slider-item__date
            div
              span.red-star *
              | 2 Day
            div 3 Night
      hr
      .top-item__rating
        div
          span Rating :
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
        .topCity__reviews
          span 5+ Review
        a.btn-discover(href='#') Book Now
    .slider__item
      .slider-item__img.img_5
        .slider-item__img_transport
          span.fa.fa_plane 
          | By Air
      .slider-item__content
        .slider-item__text
          h3 Katmundu, Nepal
          p Accusamus et iustoAccusamus et iusto odio bolo odio bolodigti odio ball atque.
        .slider-item__price
          .old-price $800
          h5 $500
          .slider-item__date
            div
              span.red-star *
              | 3 Day
            div 4 Night
      hr
      .top-item__rating
        div
          span Rating :
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
        .top__reviews
          span 5+ Review
        a.btn-discover(href='#') Book Now
  .container
    .searching
      h3 Custome PaCkege
      .searching__form
        form
          input(type='text', class='searching-form__location' placeholder="Location")
          select(name='ckeckin', class='searching-form__checkin')
            option(selected='') &#xf271; Check In &#xf0dd;
            option 1
            option 2
            option 3
            option 4
            option 5
            option 6
            option 7
            option 8
            option 9
            option 10
          select(name='ckeckout', class='searching-form__checkout')
            option(selected='') &#xf272; Check Out &#xf0dd;
            option 1
            option 2
            option 3
            option 4
            option 5
            option 6
            option 7
            option 8
            option 9
            option 10
          select(name='people', class='searching-form__people')
            option(selected='') &#xf073; People &#xf0dd;
            option 1
            option 2
            option 3
            option 4
            option 5
            option 6
            option 7
            option 8
            option 9
            option 10
          button(type='submit') Book Now
