$color_white: #fff;
$color_1: #ef5b5b;
.advantages_section {
  margin-top: 190px;  
  padding-top: 140px;
  padding-bottom: 150px;
  background-color: #f0efef;
  /* the slides */
  .slick-slide {
    margin-left: 27px;
  }
  /* the parent */
  .slick-list {
    margin-left:-27px;
  }
  .slick-next, .slick-next:focus,.slick-next:hover{  
    right: -60px;
    width: 28px;
    height: 28px;
    background-image: url(../images/arrow_right.svg);
  } 
  .slick-prev, .slick-prev:focus, .slick-prev:hover{
   left: -60px;
   width: 29px;
   height: 29px;
   background-image: url(../images/arrow_left.svg);
 }
 .slick-next:before{
   content: '';
 }
 .slick-prev:before{
   content: '';
 }

}
.carousel {
  padding-bottom: 150px;
  padding-top: 70px;
}
.carousel__item {
  padding: 60px 20px;  
  max-width: 370px;
  max-height: 340px;
  border: 1px solid #cbcbcb;
  background-color: $color_white;
  img{
    margin: 0 auto;
  }
}
.carousel-item__header {
  padding-top: 25px;
  padding-bottom: 20px;
}
.carousel-item__text {
 text-align: center;

}
.advantages {
  margin-top: 75px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.advantage__item {
  padding: 30px 30px; 
  width: 510px;
  height: 167px;   
  background-color: $color_white;
  box-shadow: 0px 1px 1px 0px rgba(33, 30, 31, 0.15);
}
.advantage-item__name {    
  padding-bottom: 25px;
  text-align: left;
  line-height: 1.083;
}
.advantage-item__text {
  text-align: left;
}