.blog__section{
	margin-top: 150px;
	.btn-booking{
		margin: 0 auto;
		display: block;	
	}
}
.blog{
	margin-top: 90px;
	margin-bottom: 70px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.blog__item{
	margin-top: 50px;
	display: flex;
	width: 550px;
	h6{
		padding-top: 25px;
		padding-bottom: 25px;
		text-align: left;
		font-size: 20px;
	}
	span{
		padding-top: 25px;
		color: rgb(128, 128, 128);
		font-size: 16px;

	}
}
.blog-item__img{
	width: 200px;
	height: 220px;
	background-size: cover;
	border-radius: 6px;

}
.blog-item__text{
	margin-left: 15px;
}
.blog-item__text_date{
	display: flex;
	align-items: center;
	p{
		padding-right: 70px;
		padding-left: 7px;
		padding-top: 25px;
	}
}
@for $i from 1 through 4 {
	.blog-item__img-#{$i} { background-image: url(../images/blog_#{$i}.png); }
}
