.feedback__section{
	height: 2205px;
	background-image: url(../images/videoTour_bg.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.feedbacks{
	margin-top: 250px;
	h3{
		color: #ffffff;
	}
	h4{
		color: #222222;
	}

	.fa_rewiew {
		margin-top: 30px;
		margin-bottom: 30px;
		margin: 0 auto;
		display: block;
		text-align: center;
		color: #fff;
		font-size: 48px;
	}
	p{
		margin-bottom: 40px;
		color: #fff;
		text-align: center;
	}
}
.video-tour{	
	padding-top: 870px;
	display: flex;
	align-items: center;
	span{
		font-size: 48px;
		font-family: "Poppins";
		color: rgb(255, 255, 255);

	}
}
.feedbacks-slider__text{
	margin: 50px auto;
	position: relative;
	border: 2px solid rgb(151, 220, 251);
	width: 830px;
	&::before, &::after {
		content: ''; 
		position: absolute;
		left: 350px; top: -100px;
		border: 50px solid transparent;
		border-bottom: 50px solid #fff;
	}

	&::after {
		top: -98px;
	    border-bottom: 50px solid #40c5ff;
		
	}


}
.feedbacks-item__img{
	width: 120px;
	height: 120px;
	background-size: cover;
	background-repeat: no-repeat;	
	border-radius: 6px;
	border: none;
}
.feedbacks__slider{
	margin: 0 auto;
	margin-top: 60px;
	width: 420px;
	/* the slides */
	.slick-slide {
		margin-left: 27px;
	}
	/* the parent */
	.slick-list {
		margin-left:-27px;
	}
	.slick-next, .slick-next:focus,.slick-next:hover{
		right: -60px;
		width: 20px;
		height: 20px;
		background-image: url(../images/next.svg);
	} 
	.slick-prev, .slick-prev:focus, .slick-prev:hover{
		left: -60px;
		width: 20px;
		height: 20px;
		background-image: url(../images/back.svg);
	}
	.slick-next:before{
		content: '';
	}
	.slick-prev:before{
		content: '';
	}

}
.feedbacks-slider__photo{
	&[aria-hidden="true"]{
		filter: invert(0.4) brightness(160%)  opacity(0.65);
	}
}
@for $i from 1 through 3 {
	.person_#{$i} { background-image: url(../images/feedback_#{$i}.png); }
}
.author{
	padding-bottom: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	*{color: #fff}
	h6{
		margin-bottom: 10px;
		font-size: 20px;
	}
	span{
		font-size: 16px;
	}
}
.author__name span{
	font-family: "Montserrat";
}
