.feedback_section{
	background-image: url(../images/videoTour_bg.png);
	height: 2205px;
	background-repeat: no-repeat;
	background-size: cover;
	.videoTour{
		display: flex;
		align-items: center;
		padding-top: 870px;
		span{
			font-size: 48px;
			font-family: "Poppins";
			color: rgb(255, 255, 255);

		}
	}
	.feedbacks{
		margin-top: 250px;
		h3{
			color: #ffffff;
		}
		h4{
			color: #222222;
		}
		.feedbacks_slider_text{
			border: 2px solid rgb(151, 220, 251);
			width: 830px;
			margin: 50px auto;
			position: relative;
			&::before, &::after {
				content: ''; 
				position: absolute;
				left: 350px; top: -100px;
				border: 50px solid transparent;
				border-bottom: 50px solid #fff;
			}

			&::after {
				border-bottom: 50px solid #40c5ff;
				top: -98px; 
			}

			
		}
		.fa_rewiew {
			font-size: 48px;
			color: #fff;
			text-align: center;
			margin: 0 auto;
			display: block;
			margin-top: 30px;
			margin-bottom: 30px;

		}
		p{
			color: #fff;
			text-align: center;
			margin-bottom: 40px;
		}
	}
}
.feedbacks_slider_item-img{
	border-radius: 6px;
	border: none;
	width: 120px;
	height: 120px;
	background-size: cover;
	background-repeat: no-repeat;
}
.feedbacks_slider{
	width: 420px;
	margin: 0 auto;
	margin-top: 60px;
	/* the slides */
	.slick-slide {
		margin-left: 27px;
	}
	/* the parent */
	.slick-list {
		margin-left:-27px;
	}
	.slick-next, .slick-next:focus,.slick-next:hover{
		background-image: url(../images/next.svg);
		width: 20px;
		height: 20px;
		right: -60px;
	} 
	.slick-prev, .slick-prev:focus, .slick-prev:hover{
		background-image: url(../images/back.svg);
		width: 20px;
		height: 20px;
		left: -60px;
	}
	.slick-next:before{
		content: '';
	}
	.slick-prev:before{
		content: '';
	}

}
.feedbacks_slider_item-photo{
	&[aria-hidden="true"]{
		filter: invert(0.4) brightness(160%)  opacity(0.65);
	}
}
@for $i from 1 through 3 {
	.person_#{$i} { background-image: url(../images/feedback_#{$i}.png); }
}
.author{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 30px;
	*{color: #fff}
	h6{
		font-size: 20px;
		margin-bottom: 10px;
	}
	span{
		font-size: 16px;
	}
	.author_name span{
		font-family: "Montserrat";
	}
}
