footer{
	display: flex;
	align-items: center;
	justify-content: center;	
	height: 50px;
	background-color: #00b1ff;
	span{
		font-size: 16px;
		font-family: "Myriad Pro";
		font-weight: 400;
		color: #edebeb;
		
	}
}

