.pluses__section{
	height: 300px;
	background-color: #ef5b5b;
}
.pluses{
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: space-between;

}
.pluses__item{
	display: flex;
	align-items: center;
}
.pluses-item_icon{
	padding-right: 20px;
	font-size: 50px;
	color: rgb(255, 200, 17);
	text-transform: uppercase;
}
.pluses-item_text{
	h3{
		font-size: 48px;
		color: rgb(255, 255, 255);
		font-weight: bold;
		margin-top: 0px;
	}
	p{
		font-size: 18px;
		color: rgb(255, 255, 255);
	}
}