$color_white: #fff;
$color_1: #ef5b5b;
h4 {
  text-align: center;
  color: $color_1;
  font-size: 24px;
  font-family: "Segoe Script";
}
h3 {
  margin-top: 15px;
  text-align: center;
  color: rgb(34, 34, 34);
  font-size: 28px;
  font-family: "Montserrat";
  font-weight: bold;  
}
h6 {
  text-align: center;  
  color: #222222;
	font-size: 24px;
  font-family: "Montserrat";
  font-weight: bold;
}
h5 {
  color: rgb(0, 177, 255);
  font-size: 24px;
  font-family: "Montserrat";
  font-weight: bold;
}
p {  
  color: rgb(128, 128, 128);
  font-size: 16px;
  font-family: "Poppins";

  line-height: 1.75;
  font-weight: 500;
}
.btn-booking__text {  
  color: $color_white;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: bold;
  text-transform: uppercase;
}
.logo__title_bold {  
  color: #222222;
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: bold;
  text-transform: uppercase;
}
.logo__title_regular {
  color: #222222;
  font-size: 13px;
  font-family: "Open Sans";
  text-transform: uppercase;
}
.menu__link {
  color: rgb(34, 34, 34);
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: bold;
  text-transform: uppercase;
  }
.contacts__header {  
  color: rgb(34, 34, 34);
  font-size: 20px;
  font-family: "Poppins";
  font-weight: 500;
}